
.btn-square {
  width: 40px;
  height: 40px;
  margin-top: 2%;
  border-radius: 20px;
}

.list-group-item {
  background-color: lightblue;
  border: none;
  padding: 5px 0;
}

.head {
  display: flex;
}

.name {
  font-size: xx-large;
  margin-right: 5%;
}

.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 3%;
}

.card {
  background-color: lightblue;
  border-radius: 3%;
  width: 20%;
  margin: 2%;
  margin-top: 0;

}



