.card {
  background-color: antiquewhite;
}

.btn-square {
  width: 40px;
  height: 40px;
  margin-top: 2%;
  border-radius: 20px;
}

.list-group-item {
  border: none;
  padding: 5px 0;
}

.head {
  display: flex;
}

.name {
  font-size: xx-large;
  margin-right: 5%;
}

.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 3%;
}

.col-md-4 {
  padding-inline: 6%;
}