<div *ngIf="models.length > 0">
  <h2>List of Models</h2>
  <div class="col-md-6" *ngFor="let model of models">
    <h3 class="font-weight-bold">{{ model.name }}</h3>
    <div>
      <button class="btn btn-secondary btn-square" (click)="model.id && deleteModelById(model.id)">
        <i class="bi bi-trash3"></i>
      </button>
            <button class="btn btn-secondary btn-square"><i class="bi bi-pencil"></i></button>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ model.id }}</li>
        <li class="list-group-item"><strong>Number of Iterations:</strong> {{ model.nbIterations }}</li>
        <li class="list-group-item"><strong>Seed:</strong> {{ model.seed }}</li>
        <li class="list-group-item"><strong>Type:</strong> {{ model.type }}</li>
      </ul>
    </div>
</div>

<div *ngIf="models.length === 0">
  <p>No models available.</p>
</div>
