<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div formArrayName="dataPairs">
    <div *ngFor="let pair of dataPairs.controls; let i = index">
      <div [formGroupName]="i" class="row">
        <div class="col">
          <input type="number" formControlName="number1" class="form-control" required>
        </div>
        <div class="col">
          <input type="number" formControlName="number2" class="form-control" required>
        </div>
        <div class="col">
          <button type="button" (click)="removePair(i)"><i class="bi bi-dash"></i></button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" (click)="addPair()"><i class="bi bi-plus"></i></button>
  <button type="submit">Submit</button>
</form>
