<header>
  
  <nav>
    <ul>
      <li><i class="bi bi-person-circle"></i></li>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/add">Ajouter</a></li>
      <li><a routerLink="/lister">Lister</a></li>
    </ul>
  </nav>
</header>


<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="text-center">
    <ul class="social-icons">
      <li><i class="bi bi-github"></i></li>
      <li><i class="bi bi-whatsapp"></i></li>
      <li><i class="bi bi-linkedin"></i></li>
      <li><i class="bi bi-youtube"></i></li>
    </ul>
  </div>

  <div class="container">
    <span>&copy; 2023 Mon Site. Tous droits réservés.</span>
  </div>

</footer>








