<form class="global" (ngSubmit)="addModel()">
  <div class="form-group">
    <label for="model-name">Nom du modèle :</label>
    <input type="text" class="form-control" id="model-name" [(ngModel)]="model.name" name="model.name" required>
  </div>
  <div class="form-group">
    <label for="iterations">Nombre d'itérations :</label>
    <input type="number" class="form-control" id="iterations" [(ngModel)]="model.nb_iterations" name="model.nb_iterations" required>
  </div>
  <div class="form-group">
    <label for="seed">Seed :</label>
    <input type="text" class="form-control" id="seed" [(ngModel)]="model.seed" name="model.seed" required>
  </div>
  <div class="form-group">
    <label for="type">Type :</label>
    <select class="form-control" id="type" [(ngModel)]="model.type" name="model.type" required>
      <option value="local">Local</option>
      <option value="serveur">Serveur</option>
      <option value="mixte">Mixte</option>
    </select>
  </div>



  <form [formGroup]="dataForm">
    <div formArrayName="dataPairs">
      <label for="input">Data :</label>
      <div *ngFor="let pair of dataPairs.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <div class="col">
            <input type="number" formControlName="number1" class="form-control" required>
          </div>
          <div class="col">
            <input type="number" formControlName="number2" class="form-control" required>
          </div>
          <div class="col">
            <button type="button" (click)="removePair(i)"><i class="bi bi-dash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addPair()"><i class="bi bi-plus"></i></button>
  </form>


  <div class="form-group">
    <label for="input">Input :</label>
    <input type="number" class="form-control" id="input" [(ngModel)]="model.input" name="model.input" required>
  </div>

  <button type="submit" class="btn btn-primary">Ajouter le modèle</button>
</form>